<template>
  <b-row v-if="users">
    <b-col sm="6" md="6" lg="4" offset-lg="2" class="mb-3">
      <b-card
        class="mb-3"
        title="Chat">
        <b-card-text>
          This page is similar to the <router-link to="/posts">posts</router-link>
          page, except it uses <a href="https://socket.io/">socket.io</a> instead of ajax.
          This means that new messages will appear on this page as soon as a message is
          saved on the database. Open up a couple of browser windows and try it!
        </b-card-text>
      </b-card>
      <b-card no-body>
        <b-list-group flush>
          <b-list-group-item v-for="(user, index) in currentUsers" :key="index">
            <p class="mb-0">{{ user.userName }}</p>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </b-col>
    <b-col sm="6" md="6" lg="4" class="mb-3">
      <b-card class="mb-3">
        <b-form @submit="sendMessage">
          <b-form-group
            id="messageInputGroup"
            label="Message"
            label-for="messageInput">
            <b-form-input
              id="messageInput"
              v-model="message"
              type="text"
              required />
          </b-form-group>

          <b-button type="submit" variant="primary">
            <i class="fas fa-paper-plane"></i> Send
          </b-button>
        </b-form>
      </b-card>
      <b-card no-body v-if="messages.length">
        <b-list-group flush>
          <b-list-group-item v-for="message in recentMessages" :key="message.id">
            <small>
              <strong>{{ getUserName(message.createdBy) }}</strong>
              {{ formatDateFromNow(message.createdAt) }}
            </small>
            <p class="maintain-white-space">{{ message.message }}</p>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </b-col>
  </b-row>
</template>

<script lang="ts">
  import Vue                   from 'vue';
  import io                    from 'socket.io-client';
  import moment                from 'moment';
  import Component             from 'vue-class-component';
  import { Getter }            from 'vuex-class';
  import IMessage              from '~types/message';
  import { formatDateFromNow } from '~services/date-service';

  @Component
  export default class Chat extends Vue {
    @Getter private users;
    @Getter private user;

    private socket!:  SocketIOClient.Socket;
    private messages: IMessage[] = [];
    private message              = '';
    private currentUsers         = [];
    private socketPort           = 3001;
    private formatDateFromNow    = formatDateFromNow;

    private get recentMessages (): IMessage[] {
      // Sorts post in date order
      return this.messages
        .sort((left: IMessage, right: IMessage) => moment.utc(right.createdAt).diff(moment.utc(left.createdAt)))
        .slice(0, 10);
    }

    private sendMessage (e: Event): void {
      e.preventDefault();
      this.socket.emit('send-message', { userId: this.user.id, message: this.message });
    }

    private getUserName (id: string): string {
      const user = this.users.find(u => u.id === id);
      if (user)
        return `${user.firstName} ${user.lastName}`;
      return 'Anonymous';
    }

    private mounted (): void {
      this.$store.dispatch('loadUsers');

      // Connect to web socket
      this.socket = io(`${location.hostname}:${this.socketPort}`, { query: `userName=${this.user.firstName} ${this.user.lastName}` });

      this.socket.on('connect', () => {
        // Put any code you want on connection here
      });
      this.socket.on('disconnect', () => {
        // Put any code you want on disconnection here
      });

      this.socket.on('users-updated', (data: any) => {
        this.currentUsers = data.users;
      });

      this.socket.on('messages-loaded', (data: IMessage[]) => {
        this.messages = data;
      });

      this.socket.on('message-saved', (data: IMessage) => {
        this.messages.push(data);
        this.message = '';
      });
    }

    private beforeDestroy (): void {
      this.socket.close();
    }
  }
</script>
