<template>
  <b-row>
    <b-col sm="8" md="6" lg="4" offset-sm="2" offset-md="3" offset-lg="4" class="mb-3">
      <div v-if="authToken" class="mt-5">
        <h1 class="h2 mb-4">Welcome {{ user.firstName }}!</h1>
        <p>You're now authenticated. Why not try <router-link to="/posts">making a post</router-link>?</p>
      </div>
      <div v-else class="mt-5">
        <h1 class="h2 mb-4">Welcome to Venom!</h1>
        <p class="mb-4">Want to get started? Try <router-link to="/register">registering a new user</router-link>.</p>
        <ul>
          <li><a href="https://gitlab.com/stephencampbell/venom-ts">Venom</a></li>
          <li><a href="https://vuejs.org/">Vue</a></li>
          <li><a href="https://expressjs.com/">Express</a></li>
          <li><a href="https://www.mongodb.com/">Mongo</a></li>
        </ul>
      </div>
    </b-col>
  </b-row>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import { Getter }         from 'vuex-class';

  @Component
  export default class Home extends Vue {
    @Getter private authToken;
    @Getter private user;
  }
</script>

<style scoped lang="scss">
  div {
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 10px;
    }
  }
</style>
