<template>
  <b-row>
    <b-col sm="8" md="6" lg="4" offset-sm="2" offset-md="3" offset-lg="4" class="mb-3">
      <b-card>
        <b-form @submit="newPost">
          <b-form-group
            id="titleInputGroup"
            label="Title"
            label-for="titleInput">
            <b-form-input
              id="titleInput"
              v-model="title"
              type="text"
              required />
          </b-form-group>

          <b-form-group id="contentInputGroup" label="Content" label-for="contentInput">
            <b-form-textarea
              id="contentInput"
              v-model="content"
              rows="3"
              max-rows="6"
              required />
          </b-form-group>

          <b-button type="submit" variant="primary">
            <i class="fas fa-plus"></i> Add
          </b-button>
        </b-form>
      </b-card>
    </b-col>
    <post-list title="Recent posts"
               :show-user="true" />
  </b-row>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import PostList           from '../posts/PostList';

  @Component({
    components: { PostList }
  })
  export default class Posts extends Vue {
    private title   = '';
    private content = '';

    private newPost (e: Event): void {
        e.preventDefault();
        this.$store.dispatch('newPost', {
          title:   this.title,
          content: this.content
        })
        .then(res => {
          this.title   = '';
          this.content = '';
        });
      }
  }
</script>
