<template>
  <b-col v-if="!loading" sm="8" md="6" lg="4" offset-sm="2" offset-md="3" offset-lg="4" class="mb-3">
    <template v-if="sortedPosts.length">
      <h4 v-if="title">{{ title }}</h4>
      <b-card no-body>
        <b-list-group flush>
          <b-list-group-item v-for="post in sortedPosts" :key="post.id">
            <dl class="mb-0">
              <dt>{{ post.title }}</dt>
              <dd>
                <!-- Generate link to user's profile -->
                <small>
                  <strong v-if="showUser">
                    <router-link :to="`/profile/${getUserSlug(post.createdBy)}`">
                      {{ getUserName(post.createdBy) }}
                    </router-link>
                  </strong>
                  {{ formatDateFromNow(post.createdAt) }}
                </small>
                <p class="maintain-white-space">{{ post.content }}</p>
              </dd>
            </dl>
          </b-list-group-item>
        </b-list-group>
      </b-card>
    </template>
  </b-col>
</template>

<script lang="ts">
  import moment                   from 'moment';
  import IPost                    from '~types/post';
  import IUser                    from '~types/user';
  import { Getter }               from 'vuex-class';
  import { Vue, Component, Prop } from 'vue-property-decorator';
  import { formatDateFromNow }    from '~services/date-service';

  @Component
  export default class PostList extends Vue {
    @Getter private users;

    @Prop(String) private readonly title: string;
    @Prop(Boolean) private readonly showUser: boolean;
    @Prop(Array) private readonly posts: IPost[] | undefined;

    private loading           = true;
    private formatDateFromNow = formatDateFromNow;

    private get sortedPosts (): IPost[] {
      const posts: IPost[] = this.posts ? this.posts : this.$store.getters.posts;

      // Sorts post in date order
      return posts.sort((left: IPost, right: IPost) => moment.utc(right.createdAt).diff(moment.utc(left.createdAt)));
    }

    private getUserName (id: string): string {
      const user = this.users.find((u: IUser) => u.id === id);
      if (user)
        return `${user.firstName} ${user.lastName}`;
      return 'Anonymous';
    }

    private getUserSlug (id: string): string {
      const user = this.users.find((u: IUser) => u.id === id);
      if (user)
        return user.slug;
      return 'anonymous';
    }

    private mounted (): void {
      const userPromise = this.$store.dispatch('loadUsers')
                              .catch(() => this.$router.push({ path: '/' }));

      let postPromise = null;
      if(!this.posts) {
        postPromise = this.$store.dispatch('loadPosts')
                          .catch(() => this.$router.push({ path: '/' }));
      }

      Promise
        .all([userPromise, postPromise])
        .then(() => {
          this.loading = false;
        });
    }
  }
</script>
